<?xml version='1.0' encoding='utf-8'?>
<plugin id="bms-core" version="2.3.8" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BMSCore</name>


    <dependency id="cordova-plugin-cocoapod-support@1.2.10"/>
    <dependency id="cordova-plugin-add-swift-support"/>

    <js-module name="BMSClient" src="www/BMSClient.js">
        <clobbers target="BMSClient"/>
    </js-module>

    <js-module name="BMSRequest" src="www/BMSRequest.js">
        <clobbers target="BMSRequest"/>
    </js-module>

    <js-module name="BMSLogger" src="www/BMSLogger.js">
        <clobbers target="BMSLogger"/>
    </js-module>

    <js-module name="BMSAnalytics" src="www/BMSAnalytics.js">
        <clobbers target="BMSAnalytics"/>
    </js-module>

    <js-module name="BMSAuthorizationManager" src="www/BMSAuthorizationManager.js">
        <clobbers target="BMSAuthorizationManager"/>
    </js-module>







    <platform name="android">
        <!-- Include Android BMS SDK -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />

            <!-- For MCA Authentication -->
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />

        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">

            <feature name="BMSClient">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSClient"/>
            </feature>

            <feature name="BMSRequest">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSRequest"/>
            </feature>

            <feature name="BMSLogger">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSLogger"/>
            </feature>

            <feature name="BMSAnalytics">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSAnalytics"/>
            </feature>

            <feature name="BMSAuthorizationManager">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSAuthorizationManager" />
            </feature>

            <feature name="BMSAuthenticationContext">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSAuthenticationContext" />
            </feature>

        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml"/>

        <source-file src="src/android/CDVBMSClient.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVBMSRequest.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVBMSLogger.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVBMSAnalytics.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVBMSAuthorizationManager.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVBMSAuthenticationContext.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />

    </platform>

    <!-- ios -->
    <platform name="ios">

    	<pods-config use-frameworks="true" ios-min-version="8.0"/>
        <pod id="BMSAnalytics" version="~>2.0"/>
        <pod id="BMSSecurity" version="~>2.0"/>
        <config-file parent="/*" target="config.xml">

            <feature name="BMSClient">
                <param name="ios-package" value="CDVBMSClient"/>
            </feature>

            <feature name="BMSRequest">
                <param name="ios-package" value="CDVBMSRequest"/>
            </feature>

            <feature name="BMSLogger">
                <param name="ios-package" value="CDVBMSLogger"/>
            </feature>

            <feature name="BMSAnalytics">
                <param name="ios-package" value="CDVBMSAnalytics"/>
            </feature>
            <feature name="BMSAuthorizationManager">
                <param name="ios-package" value="CDVBMSAuthorizationManager"/>
            </feature>

            <feature name="BMSAuthenticationContext">
                <param name="ios-package" value="CDVBMSAuthenticationContext"/>
            </feature>
        </config-file>

        <source-file src="src/ios/CDVBMSClient.swift" />
        <source-file src="src/ios/CDVBMSRequest.swift" />
        <source-file src="src/ios/CDVBMSLogger.swift" />
        <source-file src="src/ios/CDVBMSAnalytics.swift" />
        <source-file src="src/ios/CDVBMSAuthorizationManager.swift" />
        <source-file src="src/ios/CDVBMSAuthenticationContext.swift" />
        <source-file src="src/ios/CustomErrorTypes.swift" />
        <source-file src="src/ios/Utils.swift" />
    </platform>

</plugin>

