<?xml version='1.0' encoding='utf-8'?>
<plugin id="ibm-mfp-core" version="1.0.11" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MFPCore</name>

    <js-module name="BMSClient" src="www/BMSClient.js">
        <clobbers target="BMSClient"/>
    </js-module>

    <js-module name="MFPRequest" src="www/MFPRequest.js">
        <clobbers target="MFPRequest"/>
    </js-module>

    <js-module name="MFPLogger" src="www/MFPLogger.js">
        <clobbers target="MFPLogger"/>
    </js-module>

    <js-module name="MFPAnalytics" src="www/MFPAnalytics.js">
        <clobbers target="MFPAnalytics"/>
    </js-module>
	
    <js-module name="MFPAuthorizationManager" src="www/MFPAuthorizationManager.js">
        <clobbers target="MFPAuthorizationManager"/>
    </js-module>

    <platform name="android">
        <!-- Include Android BMS SDK -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />

            <!-- For MCA Authentication -->
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
        
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            
            <feature name="BMSClient">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVBMSClient"/>
            </feature>

            <feature name="MFPRequest">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVMFPRequest"/>
            </feature>

            <feature name="MFPLogger">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVMFPLogger"/>
            </feature>

            <feature name="MFPAnalytics">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVMFPAnalytics"/>
            </feature>
            
            <feature name="MFPAuthorizationManager">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVMFPAuthorizationManager" />
            </feature>
            
            <feature name="MFPAuthenticationContext">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.CDVMFPAuthenticationContext" />
            </feature>
            
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml"/>

        <source-file src="src/android/CDVBMSClient.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVMFPRequest.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVMFPLogger.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVMFPAnalytics.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVMFPAuthorizationManager.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/CDVMFPAuthenticationContext.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">

            <feature name="BMSClient">
                <param name="ios-package" value="CDVBMSClient"/>
            </feature>

            <feature name="MFPRequest">
                <param name="ios-package" value="CDVMFPRequest"/>
            </feature>

            <feature name="MFPLogger">
                <param name="ios-package" value="CDVMFPLogger"/>
            </feature>

            <feature name="MFPAnalytics">
                <param name="ios-package" value="CDVMFPAnalytics"/>
            </feature>
			
            <feature name="MFPAuthorizationManager">
                <param name="ios-package" value="CDVMFPAuthorizationManager"/>
            </feature>
            
            <feature name="MFPAuthenticationContext">
                <param name="ios-package" value="CDVMFPAuthenticationContext"/>
            </feature>
            
        </config-file>

        <framework src="src/ios/Frameworks/IMFCore.framework" custom="true" />

        <header-file src="src/ios/Bridging-Header.h" />
        <header-file src="src/ios/IMFClient+initializeException.h" />
        <source-file src="src/ios/IMFClient+initializeException.m" />
        <source-file src="src/ios/CDVBMSClient.swift" />
        <source-file src="src/ios/CDVMFPRequest.swift" />
        <source-file src="src/ios/CDVMFPLogger.swift" />
        <source-file src="src/ios/CDVMFPAnalytics.swift" />
        <source-file src="src/ios/CDVMFPAuthorizationManager.swift" />
        <source-file src="src/ios/CDVMFPAuthenticationContext.swift" />
        <source-file src="src/ios/CustomErrorTypes.swift" />
        <source-file src="src/ios/Utils.swift" />
    </platform>

</plugin>

